@import "../../global.scss";

#option{

    @include mobile{
        display: flex;
         justify-content: center;
         flex-direction: column-reverse;  
         margin-top: 0px;
         padding-top: 0px;
    }
    #GoogleLinks{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
    }
}